{% block article_foreign %}
    <li>
        <a href="{{ article_en.canonicalUrl }}">{{ article_en.title }}</a> ({{ article_en.dateCreated|date('m/d/Y') }}) [{{ article_en.language }}]
    </li>
{% endblock %}