{% block article_en %}
    <li>
        <a href="{{ article_en.canonicalUrl }}">{{ article_en.title }}</a> ({{ article_en.dateCreated|date('m/d/Y') }})
        {% if article_en.tags|length > 0 %}
            <ul>
                {% for tag in article_en.tags %}
                    <li>{{ tag }}&nbsp;</li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endblock %}