{% extends 'base.html.twig' %}

{% block title %}Back-End Web Developer Technical Challenge{% endblock %}
{% block stylesheets %}
    <link href="https://www.jamf.com/css/main.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{%  block body %}

    <div role="main" class="main-content theme--aqua-haze" id="main-content">
        <h1>The Blog</h1>
        <div class="row">
            {% if articles is empty %}

                <div class="col-sm-6">
                    There is no articles.
                </div>

            {% else %}

                <div class="col-sm-6">
                    <!--
                    This part should be a complete, reverse-chronological list
                    of all English Blog posts created in 2018, grouped by month.

                    Each item in the list should contain:
                    * a link to the English blog post, using the post title as the link text
                    * the date created (in mm/dd/yyyy format)
                    * a list of tags for the English post (if any)
                    * a list of links to translations of this blog post in other languages (if any)

                    Note that this list should *not* change based on any of the search parameters in the Search part.
                    -->
                    Post Archive
                    <br>
                    {% for key, article in articles %}
                        <div>
                            <h3>{{ key }} ({{ key|length }} posts)</h3>
                            <ul>
                            {% for art in article %}
                                {% if art.language == 'en' %}
                                    {% include '@JamfBlog/Index/article_en.html.twig' with {article_en: art} %}
                                {% else %}
                                    {% include '@JamfBlog/Index/article_foreign.html.twig' with {article_en: art} %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>

            {% endif %}
            <hr/>
            <div class="col-sm-6">
                <!--
                This part should be a form that lets you submit a search term (for example "Jamf Pro").

                English Blog posts from 2018 should be listed which:
                * have a title which *contains* the search term (case insensitive)
                * OR have a tag that exactly matches the search term (case insensitive)
                -->

                <br>
                <div id="blog_search_form">

                    {{ form_start(search_form) }}
                    {{ form_widget(search_form) }}
                    {{ form_end(search_form) }}

                    {% if is_submitted is same as(true) %}
                        {% include '@JamfBlog/Index/search_form_articles.html.twig' with {searched_articles: search_form_articles, searched_phrase: search_phrase} %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.min.js?201803251800') }}"></script>
{% endblock %}
