{% block searched_articles %}
    <div class="col-md-12">Showing results for <b>{{ searched_phrase }}</b></div>
    <div class="col-md-12">
        {% if search_form_articles is not empty %}
            <ul>
                {% for article in searched_articles %}
                    <li><a href="{{ article.canonicalUrl }}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            No results found
        {% endif %}
    </div>
{% endblock %}