{% extends 'base.html.twig' %}

{% block title %}Back-End Web Developer Technical Challenge{% endblock %}
{% block stylesheets %}
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="screen" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}
{%  block body %}

    <!-- Header -->
    <header id="header">
        <div id="nav">
            <div id="nav-fixed">
                <div class="container">
                    <div class="nav-logo">
                        <a href="?template" class="logo"><img src="{{ asset('img/jamf_logo.png') }}" alt="JAMF logo" height="60"></a>
                    </div>
                    <!-- /logo
                <!-- search & aside toggle -->
                    <div class="nav-btns">
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                        <div class="search-form">
                            {{ form_start(search_form) }}
                            {{ form_widget(search_form) }}
                            {{ form_end(search_form) }}
                            {#<input class="search-input" type="text" name="search" placeholder="Enter Your Search ...">#}
                            {#<button class="search-close"><i class="fa fa-times"></i></button>#}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center">
                                <h1>The Blog</h1>
                            </div>
                        </div>

                        {% if is_submitted is same as(true) %}
                            <hr/>
                                <div class="row">
                                    {% include '@JamfBlog/Index/search_form_articles.html.twig' with {searched_articles: search_form_articles, searched_phrase: search_phrase} %}
                                </div>
                            <hr/>
                        {% endif %}

                        <!-- post -->
                        {% for key, article in articles %}
                            <h3>{{ key }} ({{ key|length }} posts)</h3>
                            <hr/>
                                {% for art in article %}
                                    <div class="col-md-12">
                                        <div class="post post-row">
                                            <a class="post-img" href="{{ art.canonicalUrl }}"><img src="{{ art.thumbnailImage }}" alt="Post image" height="180"></a>
                                            <div class="post-body">
                                                <div class="post-meta">
                                                    <a class="post-category cat-2" href="category.html">{{ art.language }}</a>
                                                    <span class="post-date">{{ art.dateCreated|date('m/d/Y') }}</span>
                                                </div>
                                                <h3 class="post-title"><a href="{{ art.canonicalUrl }}">{{ art.title }}</a></h3>
                                                <p>{{ art.metaDescription }}</p>
                                                <!-- tags -->
                                                {% if art.language == 'en' %}
                                                <div class="aside-widget">
                                                    <div class="tags-widget">
                                                        {% if art.tags|length > 0 %}
                                                            <ul>
                                                                {% for tag in art.tags %}
                                                                    <li><a href="#">{{ tag }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <!-- /tags -->
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                        {% endfor %}
                        <!-- post -->

            </div>
        </div>
    </div>
    <!-- /section -->

    <!-- Footer -->
    <footer id="footer">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="?template" class="logo"><img src="{{ asset('img/jamf_logo.png') }}" alt="Jamf logo" height="60"></a>
                        </div>
                        <div class="footer-copyright">
								<span>
                                    &copy; Copyright <script>document.write(new Date().getFullYear());</script> All rights reserved | JAMF
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main_template.js') }}"></script>
{% endblock %}
